.navbar {
  width: 100%;
  height: 150px;
  background-image: url("../../assets/bg-navbar.png");
  background-size: contain;
  background-repeat: repeat-x;
}

.logotipo {
  max-width: 100px;
  width: 12%;
  padding: 10px 10px 10px 20px;
}

.menu {
  float: right;
  padding: 10px;
}

.menu a {
  color: black;
  margin-right: 25px;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
}

.btn-red {
  background-color: brown;
  color: aliceblue;
  border: 0px;
  padding: 10px;
  font-size: 1rem;
}
